@*@{
    ViewData["Title"] = "Access Denied";
}

<h2>Its not 11:11 yet!</h2>

<p>Sorry, you can only make a wish between 11:11-11:12.</p>*@
<br/><br/><br/><br/><br/>
<div class="card-body">
    <h2 class="card-title">Its not 11:11 yet!</h2>
    <br/>
    <p class="card-text">Please comeback when its 11:11 to make a wish.</p>
    <br/>
	<a asp-controller="Eleven" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
  </div>


